.second-container-inkd-wireless {
    width: 100%;
    height: 35rem;
    background-image: url("../img2.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second-img-mobile {
    width: 100%;
    display: none;
}

@media only screen and (max-width: 700px){
    .second-img-mobile {
        display: block;
        margin-bottom: 1rem;
    }
    .second-container-inkd-wireless {
        height: 100%;
    }
}