.second-container2 {
    width: 100%;
    height: 35rem;
    background-image: url("2.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second-container2-m {
    display: none;
}


@media only screen and (max-width: 972px){
    .second-container2 {
        display: none;
    }
    .second-container2-m {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .second-container-icons2 {
        padding: 2rem 0 2rem 0;
        background-color: rgb(241, 225, 1);
    }
}