.team-section1-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 2rem 0;
    background-color: rgb(27, 27, 27);
}

.team-section1-header {
    color: white;
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: -0.15rem;
    padding-bottom: 1rem;
    width: 90%;
    text-align: center;
}
.team-section1-p {
    color: white;
    width: 95%;
    text-align: center;
    font-size: 0.9rem;
}

.team-section2-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    background-color: rgb(27, 27, 27);
}

.team-section2-grid-item {
    width: 100%;
    position: relative;
}
.team-section2-grid-img {
    width: 100%;
    height: 18rem;
    object-fit: cover;
}
.team-section2-grid-p {
    position: absolute;
    top: 65%;
    color: white;
    width: 90%;
    text-align: left;
    padding: 0 0 0 1rem;
    font-size: 0.9rem;
}
.team-section2-grid-header {
    position: absolute;
    top: 70%;
    color: white;
    width: 90%;
    text-align: left;
    padding: 0 0 0 1rem;
    font-size: 1.4rem;
    font-weight: 800;
    letter-spacing: -0.15rem;
}

@media only screen and (max-width: 962px){
    .team-section2-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 661px){
    .team-section2-grid {
        grid-template-columns: 1fr 1fr;
    }
    .team-section1-header {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 413px){
    .team-section2-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}