.navbar {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 710;
}

.nav {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0 0.5rem 0;
  margin-left: 1rem;
  cursor: pointer;
}

.nav-logo {
  width: 2rem;
}

.nav-brand-text {
  color: white;
  font-size: 1.4rem;
}

.nav-list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav-list1-link {
  color: white;
  font-size: 0.65rem;
  text-decoration: none;
  padding: 0 1rem 0 1rem;
  position: relative;
}

.nav-list1-link:hover::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 25%;
  width: 50%;
  height: 0.5px;
  border-bottom: 1.5px solid grey;
  -webkit-animation: fadeIn 0.3s linear;
          animation: fadeIn 0.3s linear;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.nav-list2 {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-list2-icon {
  color: #dbdbdb;
  font-weight: lighter;
  cursor: pointer;
}

.nav-bottom {
  width: 100%;
  height: auto;
  border-top: 1px solid grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-bottom-p {
  width: 70%;
  text-align: center;
  color: #dddddd;
  font-size: 0.6rem;
  padding: 0.7rem 0 0.7rem 0;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 761px) {
  .nav {
    display: none;
  }
  .nav-bottom {
    display: none !important;
  }
  .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 95%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile-nav-bars {
    color: white;
    cursor: pointer;
  }
  .mobile-nav-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile-logo {
    width: 20%;
  }
  .mobile-nav-center-text {
    color: white;
  }
  .mobile-nav-cart {
    color: white;
    cursor: pointer;
  }
}
/*# sourceMappingURL=navbar.css.map */