.second-container-indy-evo {
    width: 100%;
    height: 35rem;
    background-image: url("../img2.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second-img-mobile {
    width: 100%;
    display: none;
}

@media only screen and (max-width: 500px){
    .second-img-mobile {
        display: block;
    }
    .second-container-indy-evo {
        height: 100%;
    }
}